// VARIABLES
$primary-blue: #316eef;
$primary-blue-darkest: #1b3979;
$black–light: #2e2f2f;
$black–lighter: #5d5d5d;
$grey: #bbbcbc;
$grey–light: #ddd;
$color-line: #bbbcbc;
$alert: #d83e00;
$box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
$border-radius: 8px;
